ENV=development
MONGODB_SERVICE_USERNAME=root
MONGODB_SERVICE_PASSWORD=PPassw0
MONGODB_SERVICE_DBNAME=raw_mat_store
MONGODB_SERVICE_URL=mongo
MONGODB_SERVICE_PORT=27017
RABBITMQ_SERVICE_USERNAME=root
RABBITMQ_SERVICE_PASSWORD=PPassw0
RABBITMQ_SERVICE_URL=rabbitmq
RABBITMQ_SERVICE_PORT=5672
STORE_SERVICE_URL=app-setore
STORE_SERVICE_PORT=4000
SUPPLIER_SERVICE_URL=app-supplier
SUPPLIER_SERVICE_PORT=5000
DOCUMENTATION_SERVICE_PORT=3000